body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  color: #58B844 !important;
}

nav .brand-logo {
  color: #58B844 !important;
}

nav ul a {
  color: #58B844 !important;
}

.k-row {
  margin-bottom: 0px;
}

.k-linkicon {
  display: inline-flex;
}